.body_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    .input  {
        border-radius: 8px;
    }
    .button {
        @extend .input
    }
}
.typewriter{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    color: #337AB7;
    animation: blinking 3s infinite;
}

@keyframes blinking{
    //0%{  color: red; }
    47%{  color: #000; }
    62%{  color: transparent; }
    //97%{  color:transparent; }
    //100%{ color: #000;  }
}